:root{
    --clr-secondary: hsl(212, 45%, 89%);

    --clr-neutral-900: hsl(218, 44%, 22%);
    --clr-neutral-300: hsl(220, 15%, 55%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --fw-regular: 400;
    --fw-bold: 700;

    --ff-base: 'Outfit', sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }

body{
  font-weight: var(--fw-regular);
  font-size: 1rem;
  color: var(--clr-neutral-300);
  font-family: var(--ff-base);
  background-color: var(--clr-secondary);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.card{
  width: 20rem;
  padding: 1em 1em 2.25em;
  border-radius: 1rem;
  background-color: var(--clr-neutral-100);
  box-shadow: 5px 5px 20px #11111120;
}
.card__img{
  width: 100%;
  border-radius: 0.5rem;
}
.card__title{
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-900);
}
.card__text{
  margin-top: 1.125rem;
  line-height: 1.25rem;
  text-align: center;
  font-weight: var(--fw-regular);
}
.attribution{
  text-align: center;
}